/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
:root {
  --font-size-h2: 2rem;
  --font-size-p: 1.8rem;
  --font-size-span: 1.4rem;
  --font-size-button: 1.4rem;
  --columns: 4;
  --gap: 1.6rem;
  --primary-color: #161616;
  --primary-light: #3c3c3c;
  --primary-dark: #000000;

  --secondary-color: #e01937;
  --secondary-light: #ff5b61;
  --secondary-dark: #a60011;

  --text-color: #ffffff;
}

a,
body,
div,
ul,
li,
section,
main,
header,
menu,
nav,
footer,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
form,
input,
figure,
image,
picture,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

html {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  height: 32px;
  margin: 1.6rem 0;
}

.Header {
  min-width: 320px;
  width: 100%;
  color: var(--text-color);
}

.Header-items {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-logo,
.Header-icons {
  width: 50%;
  padding: 1.6rem;
}

.Header-icons {
  display: flex;
  justify-content: center;
}

.Header-icons h2 {
  margin: 0 1.6rem;
}

/* Main */

.Main {
  color: var(--text-color);
}

.Main a {
  color: var(--text-color);
  font-size: 1.8rem;
}

/* Movies */

main section {
  margin: 1.6rem 0;
}

.Section-title {
  color: var(--secondary-light);
  padding: 1.6rem;
}

.Movies {
  display: flex;
  overflow-x: scroll;
  scrollbar-color: var(--primary-light) var(--primary-color);
  scrollbar-width: thin;
}

.Movie-container,
.Movies-favs,
.Movies-payment {
  margin: 0.8rem 0.8rem 0.8rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Movies-favs {
  border: 3px dashed var(--secondary-light);
  width: 100px;
  height: 150px;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .Wishlist {
    display: none;
  }
}

.dragOver {
  border-color: #ffffff;
  animation: scale 0.5s;
  transform: scale(1.2);
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.dropped {
  border: none;
}

.Movie-figure {
  width: 104px;
}

.Movie-image {
  border-radius: 10px;
}


/* Information */

.Information {
	color: var(--secondary-light);
	padding: 0 1.6rem;
}

.Information-form label{
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0;
}

.Information-form label span {
  margin-bottom: 0.8rem;
}

.Information .Form-input {
  height: 32px;
}

.Information .Form-input::placeholder {
  color: var(--primary-light);
}

.Information .Form-input[type='text'] {
  color: var(--secondary-color);
}

.Information-buttons {
  display: flex;
  justify-content: space-between;
}

.Information-buttons button {
  width: 64px;
}

/* Payment */

.Payment #papayl-button {
  display: flex;
  justify-content: center;
  margin: 1.6rem 0;
}

.Payment-movies {
  min-width: 320px;
  min-height: 350px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.Payment-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Payment-total {
  padding: 1.6rem;
}

.Payment-total .Payment-total-button {
  background-color: var(--secondary-color);
  width: 100%;
}

.Payment button {
  background-color: var(--secondary-dark);
  width: 64px;
}


.empty {
  color: var(--secondary-dark);
  border: 1px dashed;
  margin: 1.6rem;
  padding: 1.6rem;
  text-align: center;
}

.empty:hover, .touch {
  cursor: pointer;
  border-color: var(--secondary-light);
  color: var(--secondary-light);
}
